.trackPage {
    margin: 0;
    padding: 8em 4em;
    background-color: rgb(25, 25, 25);
    color: beige;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-end;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    // display: flex;
    width: 20em;
}

.commentSection {
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Courier New', Courier, monospace;
}

.comm {
    background-color: rgb(32, 32, 32);
    padding: 1em;
    margin: 1em;
    width: 20em;
    border-radius: 20px;
}

.btn {
    background-color: black;
    color: white;
    border: none;
}

.btn:hover {
    background-color: rgb(51, 46, 46);
}

.btn2 {
    padding: 1em;
    // text-decoration: none;
    background-color: black;
    width: 8em;
    border-radius: 20px;
    margin-top: 1em;
}

.btn2:hover {
    background-color: rgb(51, 46, 46);
}

.link {
    text-decoration: none;
    color: white;
}

.formm{
    background-color: black;
    box-shadow: 6px 2px 2px black;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 4em 4em;
    border-radius: 30px;
    color: beige;
    position: absolute;
    top: 10em;
    right: 10em;
}

.formm2 {
    display: flex;
    flex-direction: column;
}

.formu {
    background-color: rgb(51, 46, 46);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
}
